html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body{
	overflow: auto;
}

#map-canvas{
	width: 100%;
	//position: relative;
	float: left;
	height: 100%;
	//overflow: hidden;
	position: fixed;
}

#completo{
	width: 70%;
	//position: relative;
	float: left;
	height: 100%;
	//overflow: hidden;
	position: fixed;
}

#rightSide{
	width: 30%;
	float: right;
	margin-top: 50px;
}

.location{
	position: relative;;
	float: right;
	width: 70%;
	font-size: 16px;
    padding-left: 10px;
}

.location:first-child {
    margin-top: 5px;
}

.image{
	position: relative;
	float: left;
	width: 30%
}

.description{
	font-size: 14px;
	margin-bottom: 10px;
}

#oneStory{
	height: 190px;
	box-shadow: 0px 0px 3px #888;
}

.boton{
	margin: 0px;
}

.brokenAddress{
	color:red;
	display: none;
}